@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-primary;
  }
}

.fade-in {
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, 100);
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}
.fade-in.animate-in {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
